@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');
@font-face {
   font-family: 'LPMQ';
   src: url('https://uminabdillah.github.io/fonts/lpmq.eot');
   src: url('https://uminabdillah.github.io/fonts/lpmq.eot?#iefix')
         format('embedded-opentype'),
      url('https://uminabdillah.github.io/fonts/lpmq.ttf') format('truetype');
   font-weight: 400;
   font-weight: normal;
   font-display: swap;
}

html,
body {
   font-family: 'Inter', sans-serif;
   font-size: 15px;
   overflow-x: hidden;
}
.navbar {
   -webkit-box-shadow: 0 0 20px -1px #ddd;
   -moz-box-shadow: 0 0 20px -1px #ddd;
   box-shadow: 0 0 20px -1px #ddd;
}

.navbar-brand {
   font-weight: 600;
   color: #5e5e5e !important;
}

.navbar-nav a {
   margin: 0px 10px;
   padding: 8px 20px;
}

.navbar-nav .contact {
   border-radius: 10px;
   background-color: #f2f1ed;
   font-weight: 500;
   color: #636363;
   font-size: 14px;
}

#menu {
   margin-top: 60px;
   padding: 10px;
   /* border: 1px solid green; */
   min-height: 81.5vh;
}

.card {
   height: 30vh !important;
}

.card h5 {
   color: #5e5e5e;
}

.card-body {
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
}

.hero {
   padding: 10px;
   margin-top: 55px;
   /* border: 1px solid green; */
}
.hero img {
   margin: 0 auto;
   background-size: cover;
   background-position: center;
   background-repeat: no-repeat;
   border-radius: 18px;
   object-fit: cover;
   object-position: center !important;
   width: 65vw;
   height: 60vh;
}

.black-screen {
   border-radius: 20px;
   margin-top: 67px;
   position: absolute;
   top: 0;
   width: 65vw;
   height: 60vh;
   background-color: rgba(0, 0, 0, 0.7);
}

.hero .desc {
   max-width: 50vw;
   color: white;
   position: absolute;
   /* border: 1px solid salmon; */
   padding: 70px 48px;
   /* margin-left: 20px; */
   height: 60vh;
}

.hero .desc h1 {
   font-size: 35.5px;
   font-weight: bold;
}
.hero .desc p {
   word-spacing: 2px;
   color: #e7e7e7;
}

/* quran */
.jumbotron {
   margin-top: 70px;
   background-color: rgb(247, 247, 247);
   height: 60vh;
   border-radius: 30px;
}

.jumbotron svg {
   position: absolute;
   margin-left: 30px;
   color: #5e5e5e;
   font-size: 17px;
}

input[type='search'] {
   height: 4rem;
   padding: 10px 55px;
   border-radius: 30px;
   border: none;
   font-size: 17px;
   color: #5e5e5e !important;
   font-family: sans-serif;
   font-weight: 500;
}

input[type='search']:focus {
   outline: 0px !important;
   -webkit-appearance: none;
   box-shadow: none !important;
}

@media screen and (max-width: 1200px) {
   input[type='search'] {
      height: 3.5rem;
      width: 400px;
      margin: 0 auto;
   }
   .jumbotron form svg {
      margin-left: 60px;
   }
}

.surah {
   margin-top: 30px;
   padding: 20px;
}

.surah .title {
   font-size: 20px;
   font-weight: 600;
   color: #5e5e5e;
   padding-bottom: 10px;
   border-bottom: 1px solid rgb(5, 5, 5, 0.1);
}

.surah-body {
   margin-top: 20px;
   display: grid;
   grid-template-columns: auto auto auto;
   gap: 15px;
}

.surah-body .sub-title {
   text-decoration: none;
   color: #5e5e5e;
}

.surah-body .subt-title:hover {
   color: unset;
}

.box-desc {
   padding: 12px 22px;
   display: flex;
   background-color: rgb(248, 247, 247);
   border: none;
   border-radius: 8px;
}

.box-number {
   background-color: rgb(238, 238, 238);
   width: 3.3vw;
   height: 5.3vh;
   clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
   box-sizing: border-box;
   /* -webkit-clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
   clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50% round); */
   display: flex;
   align-items: center;
   justify-content: center;
}

.box-number h6 {
   color: #5e5e5e;
   font-weight: 500;
   text-align: center;
   margin-top: 5px;
   font-size: 0.95rem;
}

.box-body {
   width: 100%;
   padding: 5px 10px;
   display: flex;
   justify-content: space-between;
}

.box-left h2,
.box-right h2 {
   font-weight: 600;
   margin-bottom: 3px;
   font-size: 1.1rem;
   font-family: LPMQ, 'Traditional Arabic', Tahoma, sans-serif;
}

.box-left h6,
.box-right h6 {
   color: #696969;
   font-size: 0.9rem;
   font-weight: normal;
}

.box-surah:hover {
   box-shadow: 0px 0px 6px rgba(5, 5, 5, 0.1);
}

@media screen and (max-width: 1200px) {
   .surah-body {
      margin-top: 20px;
      display: grid;
      grid-template-columns: auto;
      gap: 15px;
   }
   .box-number {
      width: 9vw;
      height: 6vh;
      display: flex;
      align-items: center;
      justify-content: center;
   }
   .box-number h6 {
      color: #5e5e5e;
      font-weight: 500;
      text-align: center;
      font-size: 0.85rem;
   }
}

.show {
   margin-top: 70px;
   background-color: rgb(247, 247, 247);
   /* height: 50vh; */
   border-radius: 30px;
   display: flex;
   justify-content: center;
}

.show-body h1 {
   text-align: center;
   font-size: 1.7rem;
   font-weight: 700;
   font-weight: bold;
   font-family: LPMQ, 'Traditional Arabic', Tahoma, sans-serif;
}

.show-desc {
   display: grid;
   grid-template-columns: 200px auto;
   padding: 30px 0;
}

.show-desc-left h3 {
   color: #5e5e5e;
   font-weight: 600;
   padding: 4px 10px;
   font-size: 1.1rem;
   font-family: sans-serif;
}

.show-desc-right h3 {
   color: #5e5e5e;
   font-weight: 400;
   padding: 4px 10px;
   font-size: 1.1rem;
   font-family: sans-serif;
}

@media screen and (max-width: 1200px) {
   .show {
      width: 400px;
      margin: 0 auto;
      margin-top: 70px;
   }
   .show-desc {
      display: grid;
      grid-template-columns: 170px auto;
      padding: 30px 0;
      /* border: 1px solid green; */
   }
   .show-desc-left h3 {
      /* border: 1px solid black; */
      color: #5e5e5e;
      font-weight: 00;
      font-size: 0.9rem;
      font-family: sans-serif;
   }

   .show-desc-right h3 {
      color: #5e5e5e;
      font-weight: 400;
      font-size: 0.9rem;
      font-family: sans-serif;
   }
}
.audio {
   display: flex;
   justify-content: space-between;
   align-items: center;
   margin-top: 20px;
}

.audio .title {
   padding: 0 20px;
   font-size: 20px;
   font-weight: 600;
   color: #5e5e5e;
}
audio {
   width: 50%;
}
audio::-webkit-media-controls-panel {
   background-color: rgb(255, 255, 255);
}

.show-surah {
   padding: 20px;
   margin-top: 20px;
   display: flex;
   justify-content: center;
}

.show-ayat {
   padding: 20px;
   background-color: rgb(255, 255, 255);
   border-bottom: 1px solid #ebebeb;
   width: 95%;
}
.show-ayat-detail {
   display: flex;
   justify-content: end;
   text-align: end;
   font-weight: normal;
   font-family: LPMQ, 'Traditional Arabic', Tahoma, sans-serif;
   line-height: 48px;
   font-size: 1.75rem;
   padding: 15px 0;
}

.show-ayat h6 {
   color: #5e5e5e;
   font-weight: 500;
   font-size: 1.25rem;
   display: block;
   align-items: center;
}

.show-ayat h5 {
   color: #5e5e5e;
   font-family: Arial, Helvetica, sans-serif;
   /* font-family: sans-serif; */
   font-size: 1rem;
   letter-spacing: 0.9px;
   line-height: 1.4;
}

/* loader */
.lds-dual-ring {
   display: inline-block;
   width: 80px;
   height: 80px;
}
.lds-dual-ring:after {
   content: ' ';
   display: block;
   width: 64px;
   height: 64px;
   margin: 8px;
   border-radius: 50%;
   border: 6px solid #fff;
   border-color: #353535 transparent #353535 transparent;
   animation: lds-dual-ring 1.2s linear infinite;
}
@keyframes lds-dual-ring {
   0% {
      transform: rotate(0deg);
   }
   100% {
      transform: rotate(360deg);
   }
}

footer {
   padding: 30px 0;
   text-align: center;
   background-color: #8f8f8f;
   color: #ddd;
   font-weight: 500;
}
@media screen and (max-width: 1200px) {
   footer {
      padding: 30px 30px;
      font-size: 0.85rem;
   }
}

.moveUp {
   margin-left: 20px;
   padding: 11px 12.5px;
   position: fixed;
   bottom: 50px;
   right: 75px;
   z-index: 99;
   background-color: #7c7c7c;
   color: white;
   border-radius: 20%;
   display: none;
   align-items: center;
   justify-content: center;
   opacity: 0.6;
   border: none !important;
}

@media screen and (max-width: 600px) {
   .moveUp {
      z-index: 1;
      margin-top: -520px;
      position: fixed;
      right: 0;
      margin-right: 40px;
      opacity: 0.8;
   }
}
